@charset "UTF-8";

.p-article-top {
    position: relative;
    width: 100%;
    height: 285px;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    p {
        color: #fff;
        padding-left:25px;
        font-size: 36px;
        font-weight: bold;
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform : translateY(-50%);
        transform : translateY(-50%);
    }
}